/* index.html css */
.recipe-list{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: red;
  color: white;
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  width: 80vw;
}

li a{
 text-decoration: none;
color: white;
}


/* Chicken noodle soup index */

.cns-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}